# 数値計算

本章では、Python で数値計算を高速に行うためのパッケージである NumPy の使い方を学び、 6 章で学んだ重回帰分析のアルゴリズムを実装していきます。  

NumPy による**多次元配列 (multidimensional array)** の扱い方を知ることは、他の様々なライブラリを利用する際に役立ちます。例えば、様々な機械学習手法を統一的なインターフェースで利用できる **scikit-learn** や、ニューラルネットワークの記述・学習を行うためのフレームワークである **TensorFlow** は、NumPy に慣れておくことでとても使いやすくなります。

## 本章の構成

- NumPy の基礎  
- 多次元配列を用いた計算方法  
- NumPy を用いた重回帰分析

## NumPy の基礎

NumPy は Google Colaboratory（以下 Colab ）上のノートブックにはデフォルトでインストールされているため、ここではインストールの方法は説明しません。手元のコンピュータに NumPy をインストールしたい場合は、第 1 章を参照してください。

Colab 上ではインストール作業は必要ないものの、ノートブックを開いた時点ではまだ `numpy` は読み込まれていません。
パッケージの機能を利用するには、そのパッケージが提供するモジュールを読み込む必要があります。  
モジュールとは複数の関数やクラスが記述されたファイルになります。パッケージ、モジュール、クラスについての詳細に関しては前章を確認してください。    

例えば `A` というモジュールを読み込みたいとき、一番シンプルな記述方法は `import A` です。  
`A` というモジュール名が長い場合は、`import A as B` のようにして別名を付けることも可能で、慣習的に`numpy` には `np` という別名が用いられます。

それでは、`numpy` を `np` という名前で `import` してみましょう。

In [98]:
import numpy as np

### 多次元配列を定義する

ベクトル・行列・テンソルなどは、プログラミング上は多次元配列により表現でき、NumPy では ndarray というクラスで多次元配列を表現します。NumPy には matrix というクラスも存在しますが、本チュートリアルでは基本的に多次元配列を表す ndarray をベクトルや行列を表すために用います。

早速、これを用いてベクトルを定義してみましょう。

In [99]:
# ベクトルの定義
a = np.array([1, 2, 3])

a

array([1, 2, 3])

このように、Python リスト `[1, 2, 3]` を `np.array()` に渡すことで、$[1, 2, 3]$ というベクトルを表す ndarray オブジェクトを作ることができます。
ndarray オブジェクトは `shape` という**属性 (attribute)** を持っており、その多次元配列の**形 (shape)** が保存されています。
上で定義した `a` という ndarray オブジェクトの形を調べてみましょう。

In [100]:
a.shape

(3,)

`(3,)` という要素数が 1 の Python のタプルが表示されています。
ndarray の形は、要素が整数のタプルで表され、要素数はその多次元配列の**次元数 （dimensionality, number of dimensions)** を表します。
形は、その多次元配列の各次元の大きさを順に並べた整数のタプルになっています。

次元数は、ndarray の `ndim` という属性に保存されています。

In [101]:
a.ndim

1

これは、`len(a.shape)` と同じ値になります。
今、`a` という ndarray は 1 次元配列なので、`a.shape` は要素数が 1 のタプルで、`ndim` の値は 1 でした。これは、その多次元配列が表すテンソルの階数（ rank、以下ランク）と対応します。

では次に、$3 \times 3$ 行列を定義してみましょう。

In [102]:
# 行列の定義
b = np.array(
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
)

b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

形と次元数を調べます。

In [103]:
print('Shape:', b.shape)
print('Rank:', b.ndim)

Shape: (3, 3)
Rank: 2

ここで、`size` という属性も見てみましょう。

In [104]:
b.size

9

これは、`b` という ndarray が持つ要素の数を表しています。
`b` は $3 \times 3$ 行列なので、要素数は 9 です。
**「形」「次元数」「サイズ」という言葉がそれぞれ意味するものの違いを確認してください。**

NumPy の ndarray の作成方法には、`np.array()` を用いて Python のリストから多次元配列を作る方法以外にも、色々な方法があります。
以下に代表的な例をいくつか紹介します。

In [105]:
# 形を指定して、要素が全て 0 で埋められた ndarray を作る
a = np.zeros((3, 3))

a

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [106]:
# 形を指定して、要素が全て 1 で埋められた ndarray を作る
b = np.ones((2, 3))

b

array([[1., 1., 1.],
       [1., 1., 1.]])

In [107]:
# 形と値を指定して、要素が指定した値で埋められた ndarray を作る
c = np.full((3, 2), 9)

c

array([[9, 9],
       [9, 9],
       [9, 9]])

In [108]:
# 指定された大きさの単位行列を表す ndarray を作る
d = np.eye(5)

d

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [109]:
# 形を指定して、 0 ~ 1 の間の乱数で要素を埋めた ndarray を作る
e = np.random.random((4, 5))

e

array([[0.70845513, 0.04155084, 0.84901855, 0.68792978, 0.93872494],
       [0.09357525, 0.29359049, 0.04833024, 0.46802545, 0.74796232],
       [0.09025689, 0.44870361, 0.05295293, 0.07532875, 0.17446068],
       [0.03508628, 0.83123531, 0.21421263, 0.38089589, 0.53188043]])

In [110]:
# 3 から始まり 10 になるまで 1 ずつ増加する数列を作る（ 10 は含まない）
f = np.arange(3, 10, 1)

f

array([3, 4, 5, 6, 7, 8, 9])

### 多次元配列の要素を選択する

前節では NumPy を使って多次元配列を定義するいくつかの方法を紹介しました。
本節では、作成した ndarray のうちの特定の要素を選択して、値を取り出す方法を紹介します。
最もよく行われる方法は `[]` を使った**添字表記 (subscription)** による要素の選択です。

例えば、上で作成した `e` という $4 \times 5$ 行列を表す多次元配列から、1 行 2 列目の値を取り出すには、以下のようにします。

In [111]:
val = e[0, 1]

val

0.04155083952443428

「1 行 2 列目」を指定するのに、インデックスは `[0, 1]` でした。
これは、NumPy の ndarray の要素は Python リストと同じく、添字が 0 から始まる**ゼロベースインデックス （zero-based index）** が採用されているためです。
つまり、この行列の i 行 j 列目の値は、`[i - 1, j - 1]` で取り出すことができます。

続いて、スライスによる要素の選択を紹介します。  
Python のリストと同様に**スライス表記 (slicing)** を用いて選択したい要素を範囲指定することができます。

In [112]:
# 4 x 5 行列 e の真ん中の 2 x 3 = 6 個の値を取り出す
center = e[1:3, 1:4]

center

array([[0.29359049, 0.04833024, 0.46802545],
       [0.44870361, 0.05295293, 0.07532875]])

上記の `center` の出力を見返すと、ちょうど真ん中の部分の $2 \times 3$ 個の数字が取り出せていることが分かります。
ここで、`e` の中から `[1, 1]` の要素を起点として 2 行 3 列を取り出して作られた `center` の形を、`e` の形と比較してみましょう。

In [113]:
print('Shape of e:', e.shape)
print('Shape of center:', center.shape)

Shape of e: (4, 5)
Shape of center: (2, 3)

また、インデックスを指定したり、スライスを用いて取り出した ndarray の一部に対し、値を代入することもできます。

In [114]:
# 先程の真ん中の 6 個の値を 0 にする
e[1:3, 1:4] = 0

e

array([[0.70845513, 0.04155084, 0.84901855, 0.68792978, 0.93872494],
       [0.09357525, 0.        , 0.        , 0.        , 0.74796232],
       [0.09025689, 0.        , 0.        , 0.        , 0.17446068],
       [0.03508628, 0.83123531, 0.21421263, 0.38089589, 0.53188043]])

ndarray の `[]` には、整数やスライスの他に、整数配列を渡すこともできます。  
整数配列とは、ここでは整数を要素とする Python リストまたは ndarray のことを指しています。  

使用手順としてまず、$3 \times 3$ 行列を表す `a` という ndarray を定義してみます。

In [115]:
a = np.array(
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
)

a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

この ndarray から、

1. 1 行 2 列目：`a[0, 1]`
2. 3 行 2 列目：`a[2, 1]`
3. 2 行 1 列目：`a[1, 0]`

の 3 つの要素を選択して並べ、形が `(3,)` であるような ndarray を作りたいとします。

これは、以下のように、順に対象の要素を指定して並べて新しい ndarray にすることでももちろん実現できます。

In [116]:
np.array([a[0, 1], a[2, 1], a[1, 0]])

array([2, 8, 4])

しかし、同じことが**選択したい行、選択したい列を、順にそれぞれリストとして与える**ことでも行えます。

In [117]:
a[[0, 2, 1], [1, 1, 0]]

array([2, 8, 4])

**選択したい 3 つの値がどの行にあるか**だけに着目すると、それぞれ 1 行目、3 行目、2 行目にある要素です。  
ゼロベースインデックスでは、それぞれ 0, 2, 1 行目です。  
これが `a` の `[]` に与えられた 1 つ目のリスト `[0, 2, 1]` の意味です。  

同様に、**列に着目**すると、ゼロベースインデックスでそれぞれ 1, 1, 0 列目の要素です。  
これが `a` の `[]` に与えられた 2 つ目のリスト `[1, 1, 0]` の意味です。

### ndarray のデータ型

1 つの ndarray の要素は、全て同じ型を持ちます。
NumPy では様々なデータ型を使うことができますが、ここでは一部だけを紹介します。
NumPy は Python リストを渡して ndarray を作る際などには、その値からデータ型を推測します。
ndarray のデータ型は、`dtype` という属性に保持されています。

In [118]:
# 整数（ Python の int 型）の要素をもつリストを与えた場合
x = np.array([1, 2, 3])

x.dtype

dtype('int64')

In [119]:
# 浮動小数点数（ Python の float 型）の要素をもつリストを与えた場合
x = np.array([1., 2., 3.])

x.dtype

dtype('float64')

以上のように、**Python の int 型は自動的に NumPy の int64 型**になりました。
また、**Python の float 型は自動的に NumPy の float64 型**になりました。  

Python の int 型は NumPy の int 型に対応づけられており、Python の float 型は NumPy の float 型に対応づけられています。  
この int 型はプラットフォームによって int64 型と同じ場合と int32 型と同じ場合があります。
float 型についても同様で、プラットフォームによって float64 型と同じ場合と float32 型と同じ場合があります。

特定の型を指定して ndarray を作成するには、以下のようにします。

In [120]:
x = np.array([1, 2, 3], dtype=np.float32)

x.dtype

dtype('float32')

このように、`dtype` という引数に NumPy の dtype オブジェクトを渡します。
これは 32 ビット浮動小数点数型を指定する例です。
同じことが、文字列で指定することによっても行えます。

In [121]:
x = np.array([1, 2, 3], dtype='float32')

x.dtype

dtype('float32')

これはさらに、以下のように短く書くこともできます。

In [122]:
x = np.array([1, 2, 3], dtype='f')

x.dtype

dtype('float32')

一度あるデータ型で定義した配列のデータ型を別のものに変更するには、`astype` を用いて変換を行います。

In [123]:
x = x.astype(np.float64)

x.dtype

dtype('float64')

## 多次元配列を用いた計算

ndarray を使って行列やベクトルを定義して、それらを用いていくつかの計算を行ってみましょう。

### 四則演算
ndarray として定義されたベクトルや行列同士の**要素ごとの加減乗除**は、Python の数値同士の四則演算に用いられる `+`、`-`、`*`、`/` という記号を使って行えます。

それでは、同じ形の行列を 2 つ定義し、それらの**要素ごとの**加減乗除を実行してみましょう。

In [124]:
# 同じ形 (3 x 3) の行列を 2 つ定義する
a = np.array([
    [0, 1, 2],
    [3, 4, 5],
    [6, 7, 8]
])

b = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

In [125]:
# 足し算
c = a + b

c

array([[ 1,  3,  5],
       [ 7,  9, 11],
       [13, 15, 17]])

In [126]:
# 引き算
c = a - b

c

array([[-1, -1, -1],
       [-1, -1, -1],
       [-1, -1, -1]])

In [127]:
# 掛け算
c = a * b

c

array([[ 0,  2,  6],
       [12, 20, 30],
       [42, 56, 72]])

In [128]:
# 割り算
c = a / b

c

array([[0.        , 0.5       , 0.66666667],
       [0.75      , 0.8       , 0.83333333],
       [0.85714286, 0.875     , 0.88888889]])

NumPy では、与えられた多次元配列に対して要素ごとに計算を行う関数が色々と用意されています。
以下にいくつかの例を示します。

In [129]:
# 要素ごとに平方根を計算する
c = np.sqrt(b)

c

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 2.82842712, 3.        ]])

In [130]:
# 要素ごとに値を n 乗する
n = 2
c = np.power(b, n)

c

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

要素ごとに値を n 乗する計算は、以下のようにしても書くことができます。

In [131]:
c ** n

array([[   1,   16,   81],
       [ 256,  625, 1296],
       [2401, 4096, 6561]])

はじめに紹介した四則演算は、**同じ大きさの** 2 つの行列同士で行っていました。
ここで、$3 \times 3$ 行列 `a` と 3 次元ベクトル `b` という大きさのことなる配列を定義して、それらを足してみましょう。

In [132]:
a = np.array([
    [0, 1, 2],
    [3, 4, 5],
    [6, 7, 8]
])

b = np.array([1, 2, 3])

c = a + b

c

array([[ 1,  3,  5],
       [ 4,  6,  8],
       [ 7,  9, 11]])

形が同じ行列同士の場合と同様に計算することができました。  
これは NumPy が自動的に**ブロードキャスト (broadcast)** と呼ばれる操作を行っているためです。

### 練習問題 多次元配列を用いた計算

多次元配列を用いた計算で学んだ内容を復習しましょう。下記の内容を次のセルに記述し、実行結果を確認してください。（必要に応じてセルの追加を行ってください。）  
NumPy を用いて、下記の内容を実行し、結果を確認してください。  

- 行列 A, B の定義
- 行列 A, B の足し算
- 行列 A, B の引き算

行列の定義では下記のような行列を 2 つ準備してください。  

```python

A = [[1, 2, 3],
      [4, 5, 6],
      [7, 8, 9]]

B = [[2, 3, 4],
      [5, 6, 7],
      [8, 9, 10]]
```

In [133]:
# 行列の定義
A = np.array(
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
)

B = np.array(
    [[2, 3, 4],
     [5, 6, 7],
     [8, 9, 10]]
)

In [134]:
# 行列の足し算
C = A + B
print(C)

[[ 3  5  7]
 [ 9 11 13]
 [15 17 19]]

In [135]:
# 行列の引き算
D = A - B
print(D)

[[-1 -1 -1]
 [-1 -1 -1]
 [-1 -1 -1]]

#### 練習問題

In [136]:
# 行列の定義
A = np.array(
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]
)

B = np.array(
    [[2, 3, 4],
     [5, 6, 7],
     [8, 9, 10]]
)

In [137]:
# 行列の足し算
A + B

array([[ 3,  5,  7],
       [ 9, 11, 13],
       [15, 17, 19]])

In [138]:
# 行列の引き算
A - B

array([[-1, -1, -1],
       [-1, -1, -1],
       [-1, -1, -1]])

### ブロードキャスト

行列同士の要素ごとの四則演算は、通常は行列の形が同じでなければ定義できません。
しかし、前節の最後では $3 \times 3$ 行列に 3 次元ベクトルを足す計算が実行できました。

これが要素ごとの計算と同じように実行できる理由は、NumPy が自動的に 3 次元ベクトル `b` を 3 つ並べてできる $3 \times 3$ 行列を想定し、`a` と同じ形に揃える操作を暗黙に行っているからです。
この操作を、**ブロードキャスト**と呼びます。

算術演算を異なる形の配列同士で行う場合、NumPy は自動的に小さい方の配列を**ブロードキャスト**し、大きい方の配列と形を合わせます。
ただし、この自動的に行われるブロードキャストでは、行いたい算術演算が、大きい方の配列の一部に対して**繰り返し行われる**ことで実現されるため、実際に小さい方の配列のデータをコピーして大きい配列をメモリ上に作成することは可能な限り避けられます。
また、この繰り返しの計算は NumPy の内部の C 言語によって実装されたループで行われるため、高速です。

よりシンプルな例で考えてみましょう。
以下のような配列 `a` があり、この全ての要素を 2 倍にしたいとします。

In [139]:
a = np.array([1, 2, 3])

a

array([1, 2, 3])

このとき、一つの方法は以下のように同じ形で要素が全て 2 である別の配列を定義し、これと要素ごとの積を計算するやり方です。

In [140]:
b = np.array([2, 2, 2])

c = a * b

c

array([2, 4, 6])

しかし、スカラの 2 をただ `a` に掛けるだけでも同じ結果が得られます。

In [141]:
c = a * 2

c

array([2, 4, 6])

`* 2` という計算が、`c` の 3 つの要素の**どの要素に対する計算なのか**が明示されていないため、NumPy はこれを**全ての要素に対して行うという意味**だと解釈して、スカラの 2 を `a` の要素数 3 だけ引き伸ばしてから掛けてくれます。

**形の異なる配列同士の計算がブロードキャストによって可能になるためにはルールがあります。**

それは、**「2 つの配列の各次元が同じ大きさになっているか、どちらかが 1 であること」**です。
このルールを満たさない場合、NumPy は "ValueError: operands could not be broadcast together with shapes (1 つ目の配列の形) (2 つ目の配列の形)" というエラーを出します。

ブロードキャストされた配列の各次元のサイズ（注釈 1）は、入力された配列のその次元のサイズの中で最大の値と同じになっています。
入力された配列は、各次元のサイズが入力のうち大きい方のサイズと同じになるようブロードキャストされ、その拡張されたサイズで計算されます。  

（*注釈 1 : 「次元のサイズ」と言った場合はその次元の大きさを意味し、配列の size 属性とは異なるものを指しています。*）

もう少し具体例を見てみましょう。
以下のような 2 つの配列 `a` と `b` を定義し、足します。

In [142]:
# 0 ~ 9 の範囲の値をランダムに用いて埋められた (2, 1, 3) と (3, 1) という大きさの配列を作る
a = np.random.randint(0, 10, (2, 1, 3))
b = np.random.randint(0, 10, (3, 1))

print('a:\n', a)
print('\na.shape:', a.shape)
print('\nb:\n', b)
print('\nb.shape:', b.shape)

# 加算
c = a + b

print('\na + b:\n', c)
print('\n(a + b).shape:', c.shape)

a:
 [[[0 4 3]]

 [[2 4 1]]]

a.shape: (2, 1, 3)

b:
 [[6]
 [8]
 [9]]

b.shape: (3, 1)

a + b:
 [[[ 6 10  9]
  [ 8 12 11]
  [ 9 13 12]]

 [[ 8 10  7]
  [10 12  9]
  [11 13 10]]]

(a + b).shape: (2, 3, 3)

`a` の形は `(2, 1, 3)` で、`b` の形は `(3, 1)` でした。
この 2 つの配列の**末尾次元 (trailing dimension)**（注釈 2） はそれぞれ 3 と 1 なので、ルールにあった「次元が同じサイズであるか、どちらかが 1 であること」を満たしています。

次に、各配列の第 2 次元に注目してみましょう。
それぞれ 1 と 3 です。
これもルールを満たしています。

ここで、`a` は 3 次元配列ですが、`b` は 2 次元配列です。
つまり、次元数が異なっています。
このような場合は、`b` は**一番上の次元にサイズが 1 の次元が追加された形** `(1, 3, 1)` として扱われます。
そして 2 つの配列の各次元ごとのサイズの最大値をとった形 `(2, 3, 3)` にブロードキャストされ、足し算が行われます。

このように、もし 2 つの配列のランクが異なる場合は、次元数が小さい方の配列が大きい方と同じ次元数になるまでその形の先頭に新たな次元が追加されます。
サイズが 1 の次元がいくつ追加されても、要素の数は変わらないことに注意してください。
要素数（ `size` 属性で取得できる値）は、各次元のサイズの掛け算になるので、1 を何度かけても値は変わらないことから、これが成り立つことが分かります。

NumPy がブロードキャストのために自動的に行う新しい次元の挿入は、`[]` を使った以下のような表記を用いることで**手動で行うこともできます。**  

（*注釈 2 : 末尾次元（trailing dimension）とは、その配列の形を表すタプルの一番最後の値のことを指します。*）

In [143]:
print('Original shape:', b.shape)

b_expanded = b[np.newaxis, :, :]

print('Added new axis to the top:', b_expanded.shape)

b_expanded2 = b[:, np.newaxis, :]

print('Added new axis to the middle:', b_expanded2.shape)

Original shape: (3, 1)
Added new axis to the top: (1, 3, 1)
Added new axis to the middle: (3, 1, 1)

`np.newaxis` が指定された位置に、新しい次元が挿入されます。
配列が持つ数値の数は変わっていません。
そのため、挿入された次元のサイズは必ず 1 になります。

In [144]:
b

array([[6],
       [8],
       [9]])

In [145]:
b_expanded

array([[[6],
        [8],
        [9]]])

In [146]:
b_expanded2

array([[[6]],

       [[8]],

       [[9]]])

NumPy のブロードキャストは慣れるまで直感に反するように感じる場合があるかもしれません。
しかし、使いこなすと同じ計算が Python のループを使って行うよりも高速に行えるため、ブロードキャストを理解することは非常に重要です。
一つ具体例を見てみます。

$5 \times 5$ 行列 `a` に、3 次元ベクトル `b` を足します。
まず、`a`、`b` および結果を格納する配列 `c` を定義します。

In [147]:
a = np.array([
    [0, 1, 2, 1, 0],
    [3, 4, 5, 4, 3],
    [6, 7, 8, 7, 6],
    [3, 4, 5, 4, 4],
    [0, 1, 2, 1, 0]
])

b = np.array([1, 2, 3, 4, 5])

# 結果を格納する配列を先に作る
c = np.empty((5, 5))

`%%timeit` というノートブックで使用できるそのセルの実行時間を計測するためのマジックを使って、`a` の各行（ 1 次元目）に `b` の値を足していく計算を Python のループを使って 1 行ずつ処理していくコードの実行時間を測ってみます。

In [148]:
%%timeit
for i in range(a.shape[0]):
    c[i, :] = a[i, :] + b

7.93 µs ± 139 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [149]:
c

array([[ 1.,  3.,  5.,  5.,  5.],
       [ 4.,  6.,  8.,  8.,  8.],
       [ 7.,  9., 11., 11., 11.],
       [ 4.,  6.,  8.,  8.,  9.],
       [ 1.,  3.,  5.,  5.,  5.]])

次に、NumPy のブロードキャストを活用した方法で同じ計算を行ってみます。

In [150]:
%%timeit
c = a + b

1.62 µs ± 147 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [151]:
c

array([[ 1.,  3.,  5.,  5.,  5.],
       [ 4.,  6.,  8.,  8.,  8.],
       [ 7.,  9., 11., 11., 11.],
       [ 4.,  6.,  8.,  8.,  9.],
       [ 1.,  3.,  5.,  5.,  5.]])

計算結果は当然同じになります。
しかし、実行時間が数倍短くなっています。

このように、ブロードキャストを理解して活用することで、記述が簡単になるだけでなく、実行速度という点においても有利になります。

### 行列積

行列の要素ごとの積は `*` を用いて計算できました。
一方、通常の行列同士の積（行列積）の計算は、`*` ではなく、別の方法で行います。
方法は 2 種類あります。

1つは、`np.dot()` 関数を用いる方法です。
`np.dot()` は 2 つの引数をとり、それらの行列積を計算して返す関数です。
今、`A` という行列と `B` という行列があり、行列積 `AB` を計算したいとします。
これは `np.dot(A, B)` と書くことで計算できます。
もし `BA` を計算したい場合は、`np.dot(B, A)` と書きます。

もう 1 つは、ndarray オブジェクトが持つ `dot()` メソッドを使う方法です。
これを用いると、同じ計算が `A.dot(B)` と書くことによって行えます。

In [152]:
# 行列 A の定義
A = np.array([
    [0, 1, 2],
    [3, 4, 5],
    [6, 7, 8]
])

# 行列 B の定義
B = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

実際にこの $3 \times 3$ の 2 つの行列の行列積を計算してみましょう。

In [153]:
# 行列積の計算 (1)
C = np.dot(A, B)

C

array([[ 18,  21,  24],
       [ 54,  66,  78],
       [ 90, 111, 132]])

同じ計算をもう一つの記述方法で行ってみます。

In [154]:
C = A.dot(B)

C

array([[ 18,  21,  24],
       [ 54,  66,  78],
       [ 90, 111, 132]])

In [155]:
# データ型の確認（整数値）
a.dtype

dtype('int64')

### 基本的な統計量の求め方

多次元配列に含まれる値の平均・分散・標準偏差・最大値・最小値といった統計値を計算する方法を紹介します。
$8 \times 10$ の行列を作成し、この中に含まれる値全体に渡るこれらの統計値を計算してみましょう。

In [156]:
x = np.random.randint(0, 10, (8, 10))

x

array([[9, 8, 4, 0, 7, 4, 3, 7, 5, 0],
       [2, 7, 6, 6, 1, 8, 9, 7, 8, 3],
       [4, 7, 2, 2, 8, 8, 3, 4, 0, 1],
       [3, 3, 3, 1, 6, 8, 9, 3, 3, 0],
       [5, 1, 1, 6, 9, 6, 6, 1, 9, 9],
       [3, 0, 1, 7, 7, 7, 5, 0, 8, 7],
       [2, 5, 9, 9, 1, 0, 3, 3, 8, 3],
       [3, 6, 3, 8, 5, 4, 2, 0, 5, 4]])

In [157]:
# 平均値
x.mean()

4.5375

In [158]:
# 分散
x.var()

8.373593750000001

In [159]:
# 標準偏差
x.std()

2.8937162525029994

In [160]:
# 最大値
x.max()

9

In [161]:
# 最小値
x.min()

0

ここで、`x` は 2 次元配列なので、各次元に沿ったこれらの統計値の計算も行えます。
例えば、最後の次元内だけで平均をとると、8 個の平均値が得られるはずです。
平均を計算したい軸（何次元目に沿って計算するか）を `axis` という引数に指定します。

In [162]:
x.mean(axis=1)

array([4.7, 5.7, 3.9, 3.9, 5.3, 4.5, 4.3, 4. ])

これは、以下のように 1 次元目の値の平均を計算していったものを並べているのと同じことです。
（ゼロベースインデックスで考えています。`x` の形は `(8, 10)` なので、0 次元目のサイズが 8、1 次元目のサイズが 10 です。）

In [163]:
np.array([
    x[0, :].mean(),
    x[1, :].mean(),
    x[2, :].mean(),
    x[3, :].mean(),
    x[4, :].mean(),
    x[5, :].mean(),
    x[6, :].mean(),
    x[7, :].mean(),
])

array([4.7, 5.7, 3.9, 3.9, 5.3, 4.5, 4.3, 4. ])

## NumPy を用いた重回帰分析

ここまででNumPyを用いた行列計算について必要な知識が揃ったので、冒頭でもお伝えした重回帰分析を実装しましょう。  
4 つのデータをまとめた、以下のような行列が与えられたとします。

In [164]:
# Xの定義
X = np.array([
    [2, 3],
    [2, 5],
    [3, 4],
    [5, 9],
])

X

array([[2, 3],
       [2, 5],
       [3, 4],
       [5, 9]])

6 章の解説と同様に、切片を重みベクトルに含めて扱うため、行列の 0 列目に 1 という値を付け加えます。

In [165]:
# データ数（ X.shape[0]) と同じ数だけ 1 が並んだ配列
ones = np.ones((X.shape[0], 1))

# concatenate を使い、1 次元目に 1 を付け加える
X = np.concatenate((ones, X), axis=1)

# 先頭に 1 が付け加わったデザイン行列
X

array([[1., 2., 3.],
       [1., 2., 5.],
       [1., 3., 4.],
       [1., 5., 9.]])

また、目標値が以下で与えられたとします。

In [166]:
# t の定義
t = np.array([1, 5, 6, 8])

t

array([1, 5, 6, 8])

重回帰分析は、正規方程式を解くことで最適な 1 次方程式の重みを決定することができました。
正規方程式の解は以下のようなものでした。

$$
{\bf w} = ({\bf X}^{{\rm T}}{\bf X})^{\rm -1}{\bf X}^{\rm T}{\bf t}
$$

これを、4 つのステップに分けて計算していきます。

まずは、${\bf X}^{\rm T}{\bf X}$ の計算です。ndarrayに対して `.T` で転置した配列を得られます。

In [167]:
# Step 1
xx = np.dot(X.T, X)

xx

array([[  4.,  12.,  21.],
       [ 12.,  42.,  73.],
       [ 21.,  73., 131.]])

次に、この逆行列を計算します。  
逆行列の計算は `np.linalg.inv()` で行うことができます。

In [168]:
# Step 2
xx_inv = np.linalg.inv(xx)

xx_inv

array([[ 1.76530612, -0.39795918, -0.06122449],
       [-0.39795918,  0.84693878, -0.40816327],
       [-0.06122449, -0.40816327,  0.24489796]])

次に、${\bf X}^{\rm T}{\bf t}$ の計算をします。

In [169]:
# Step 3
xt = np.dot(X.T, t)

xt

array([ 20.,  70., 124.])

最後に、求めた `xx_inv` と `xt` を掛け合わせます。

In [170]:
# Step 4
w = np.dot(xx_inv, xt)

w

array([-0.14285714,  0.71428571,  0.57142857])

重みが求まったので、 6 章でも紹介した重回帰分析の方程式に代入して予測値を計算してみましょう。  
入力値 ${\bf x}$ は[3, 7]だとします。予測値を計算するときも訓練時と同様に $x_0$ に 1 を付け加える必要があります。そのため、予測値を計算する際の値は [1, 3, 7] となります。

$$
y = {\bf w}^{\rm T}{\bf x}
$$

In [171]:
x = np.array([1, 3, 7])
y = np.dot(w, x)

In [172]:
y

5.999999999999983

この様にして、約 6 の予測値を得る事ができました。

数式を NumPy による配列の計算に落とし込むことに慣れていくには少し時間がかかりますが、慣れると少ない量のコードで記述できるだけでなく、高速に計算が行なえるため、大きな恩恵があります。

## 練習問題 本章のまとめ

本章で学んだ内容を復習しましょう。下記の内容を次のセルに記述し、実行結果を確認してください。（必要に応じてセルの追加を行ってください。）  

下記の行列を用いて、重回帰分析の計算を行ってください。

```python
# Xの定義
X = np.array([
    [1, 5],
    [2, 6],
    [3, 4],
    [4, 9],
])

# t の定義
t = np.array([2, 5, 7, 10])

```

また、求めた重み `w` と入力変数 `[2, 5]` を使用して予測値 `y` を求めてください。

In [173]:
# Xの定義
X = np.array([
    [1, 5],
    [2, 6],
    [3, 4],
    [4, 9],
])
# 行列 0 列目に 1 を追加
one = np.ones((X.shape[0], 1))
X = np.concatenate((one, X), axis=1)
print(X)

[[1. 1. 5.]
 [1. 2. 6.]
 [1. 3. 4.]
 [1. 4. 9.]]

In [174]:
# t の定義
t = np.array([2, 5, 7, 10])

In [175]:
# Step 1
xtx = np.dot(X.T, X)
print(xtx)

[[  4.  10.  24.]
 [ 10.  30.  65.]
 [ 24.  65. 158.]]

In [176]:
# Step 2
xtx = np.linalg.inv(xtx)
print(xtx)

[[ 2.86111111 -0.11111111 -0.38888889]
 [-0.11111111  0.31111111 -0.11111111]
 [-0.38888889 -0.11111111  0.11111111]]

In [177]:
# Step 3
xt = np.dot(X.T, t)
print(xt)

[ 24.  73. 158.]

In [178]:
# Step 4
w = np.dot(xtx, xt)
print(w)

[-0.88888889  2.48888889  0.11111111]

In [180]:
# 予測値の計算
x = np.array([1, 2, 5])
y = np.dot(w, x)
print(y)

4.644444444444445

<img src="http://drive.google.com/uc?export=view&id=1g2xjXbw5qYeqdJqcOf3uASvzBQxhlE8u" width=30%>